GEMINI_API_KEY=
GEMINI_MODEL="gemini-2.5-flash"
TAVILY_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="agentic_chatbot"
WEATHER_API=
STOCK_PRICE_API=
NEWS_API=
DRAW_AGENT_GRAPH=TRUE